fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
pydantic[email]
python-jose[cryptography]==3.4.0
passlib[argon2]==1.7.4
python-multipart==0.0.20
aiofiles==0.7.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
rabbitmq-client==0.1.0
slowapi==0.1.8
starlette==0.36.3